<!DOCTYPE html >
<html th:replace="~{templateFile :: template(~{::title}, ~{::#content}, ${'courses'}, ${'viewCourses'}, ~{::#scripts})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Courses</title>
<body class="">
<div id="content" class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> My Courses</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Instructor(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="course : ${courses}">
                                <td th:text="${course.courseName}">Course Name</td>
                                <td th:text="${course.courseCode}">Course Code</td>
                                <td th:text="${#dates.format(course.startDate, 'dd-MMM-yyyy')}">Start Date</td>
                                <td th:text="${#dates.format(course.endDate, 'dd-MMM-yyyy')}">End Date</td>
                                <td>
                                    <p th:each="instructor : ${course.instructors}"
                                       th:text="|${instructor.lastName}, ${instructor.firstName}|">Instructor</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="scripts">
</div>
</body>

</html>